html {
	background: #fffbf8;
	color: #585858;
	padding: 17px;
}

body {
	max-width: 45em;
	line-height: 1.333;
	font-size: 12pt;
	font-family: "PT Serif", serif;
	text-rendering: optimizeLegibility;
	margin: 0 auto;
	padding: 20px 60px;
}

#banner h1 {
	font-family: "Open Sans","Deja Vu Sans", Georgia, sans;
	font-size: 300%;
	line-height: .2;
}

#banner nav {
	font-size: 115%;
	font-family: "Open Sans","Deja Vu Sans", Georgia, sans;
	font-weight: 600;
	padding-bottom: 30px;
	text-align: center;
}

#banner nav ul {
	list-style: none;
	margin: 0 auto;
}

#banner nav li {
	float: right;
	display: inline;
	margin: 0;
}

#banner nav a:link,#banner nav a:visited {
	color: #585858;
	display: inline-block;
	height: 30px;
	text-decoration: none;
	padding: 0 .5em;
}

h1,h2,h3 {
	font-family: "Open Sans","Deja Vu Sans", Georgia, sans;
	color: #585858;
	font-weight: 600;
	text-decoration: none;
}

h1 {
	font-size: 200%;
	margin-bottom: .5em;
	line-height: 1;
}

h2 {
	font-size: 116%;
	margin-top: .5em;
	line-height: 1.2;
}

h3 {
	font-size: 105%;
	line-height: 1.26;
	margin-top: .5em;
}

h1 a,h2 a,h3 a {
	color: #585858;
	text-decoration: none;
}

b,strong {
	font-weight: 700;
	color: #585858;
}

li,p,dd,blockquote {
	text-align: justify;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	margin: 1em 0;
}

ul,ol {
	padding-left: 1.2em;
	margin-top: .5em;
}

ol ol {
	list-style-type: lower-latin;
}

blockquote {
	margin: 1.2em 1.5em;
}

dt {
	font-weight: 400;
}

pre {
	overflow: auto;
	color: #585858;
	background-color: #f5ebe1;
	font-size: 10pt;
	border-color: #585858;
	border-style: solid;
	border-width: 1px;
	margin: 1em 0;
	padding: .5em;
}

pre,code {
	font-family: "Open Sans", Inconsolata, "Deja Vu Sans Mono", monospace;
	white-space: pre;
}

img,table {
	max-width: 80%;
	margin: 1.5em auto;
}

.figure {
	margin: 1.5em auto;
}

.figure p {
	text-align: center;
	font-size: 80%;
	line-height: 1.286;
	margin: 0;
}

.figure img,.figure svg {
	margin-bottom: .5em;
}

iframe {
	height: 600px;
	width: 100%;
	border: 1px solid #585858;
}

#mypicture {
	padding-left: 25px;
	padding-bottom: 25px;
}

#footnotes {
	margin-top: 4.5em;
}

#footnotes p {
	font-size: 80%;
	line-height: 1.142;
}

.footdef sup {
	float: left;
	margin: 0 1em;
}

.drawer {
	background-color: #4a858c;
	color: #585858;
	margin: 1em 0;
	padding: 20px;
}

.drawer h6 {
	color: #bd745e;
	font-size: 14pt;
	font-weight: 700;
	margin: 0 0 1em;
}

.drawer :last-child {
	margin-bottom: 0;
}

.drawer.warning {
	background-color: #a52a2a;
}

.drawer.warning h6 {
	color: #a52a2a;
}

#postamble p {
	font-size: 75%;
	line-height: .6;
	text-align: right;
	margin-top: .5em;
}

path {
	stroke: #000;
	stroke-width: 2;
	fill: none;
}

svg {
	display: block;
	margin: 1.5em auto;
}

svg button {
	position: absolute;
	right: 0;
	bottom: 0;
}

svg .plot {
	display: none;
	margin: 1em;
}

svg .plot thead {
	font-size: 110%;
	color: #888a85;
}

svg .plot em {
	font-variant: small-caps;
	font-style: normal;
}

svg .plot th {
	padding-right: 1em;
	font-style: italic;
}

a,a:hover,#banner nav a:hover,#banner nav a:active,#banner nav .active a:link,#banner nav .active a:visited {
	color: #bd745e;
}

@media print {
	body {
		font-size: 9pt;
		max-width: none;
		width: auto;
		column-count: 2;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		widows: 3;
		margin: 0;
	}

	pre {
		font-size: 8pt;
		margin: 6pt 0;
		padding: 0 6pt;
	}

	p,li,dd,blockquote {
		margin: 6pt 0;
	}

	h1,#table-of-contents {
		column-span: all;
		-webkit-column-span: 2;
	}

	.drawer {
		border: 1pt solid #585858;
		padding: 3pt;
	}

	.drawer h6,.drawer p {
		color: #000;
		font-size: 9pt;
		display: inline;
	}

	a {
		text-decoration: none;
		color: #000;
	}

	#MathJax_Message,#taglist,svg button {
		display: none;
	}
}
