html { margin: 0; padding: 0; background: #f1f1f1; color: #2e3436; }
body {
    padding: 0 10px 5em; max-width: 35em; margin: 0 auto; line-height: 1.333;
    font-size: 18px; font-family: "PT Serif", serif; text-rendering: optimizeLegibility;
}

h1 {font-size: 133%; letter-spacing: -.03em; margin-top: 1.5em; line-height: 1;}

/* Content */

h1, h2, h3 { font-family: "Open Sans", "Deja Vu Sans", "Georgia", sans; color: #555753; font-weight: 600; }
h2 {font-size: 116%; margin-top: 2.5em; line-height: 1.2;}
h3 {font-size: 105%; line-height: 1.26; margin-top: 1.5em;}

b, strong { font-weight: 700; color: #555753; }

li, p, dd, blockquote {
    text-align: justify; margin: 1em 0;
    -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto;
}

@media screen and (max-width: 400px) {
    li, p, dd, blockquote { text-align: left; }
}

ul, ol { padding-left: 1.2em; margin-top: .5em; }
ol ol { list-style-type: lower-latin; }
blockquote { margin: 1.2em 1.5em; }
dt { font-weight: normal; }

a {color: #204a87;}
a:hover {color: #3465a4;}

pre { padding: .5em; overflow: auto; margin: 1.2em 0 1.7em; }
pre, code {
    font-family: "Open Sans", "Inconsolata", "Deja Vu Sans Mono", monospace;
    white-space: pre;
}

/* Figures */

img, object, table {max-width: 80%; margin: 1.5em auto;}
@media print { img, object, table {max-width: 100%; margin: 0;} }
.figure {margin: 1.5em auto;}
.figure p {text-align: center; font-size: 80%; line-height: 1.286; margin: 0;}
.figure img, .figure svg {margin-bottom: .5em;}
iframe {height: 600px; width: 100%; border: 1px solid #2e3436;}

/* footnotes */

sup { line-height: 80%; }

#footnotes {margin-top: 4.5em; }
#footnotes p {font-size: 80%; line-height: 1.142;}
.footdef sup {float: left; margin: 0 1em;}

/* drawers */

.drawer {padding: 20px; margin: 1em 0; background-color: #5c3566; color: #eeeeec;}
.drawer a {color: #729fcf;}
.drawer h6 {color: #ad7af8; font-size: 14pt; font-weight: bold; margin: 0 0 1em 0;}
.drawer *:last-child {margin-bottom: 0;}

.drawer.warning {background-color: #a40000;}
.drawer.warning h6 {color: #ef2929;}

/* Table of contents */

#table-of-contents li {margin: .5em;}
#table-of-contents h2 {text-align: center; font-variant: small-caps; font-size: 100%;}

/* The postamble contains license information */

#postamble p { font-size: 75%; line-height: 1.23; text-align: center; margin-top: 1em; }
#postamble p.disclaimer { text-align: left; }

/* Print Style */

@media print {
    body {
        font-size: 9pt; margin: 0; max-width: none; width: auto;
        column-count: 2; -moz-column-count: 2; -webkit-column-count: 2;
        widows: 3;
    }

    pre { margin: 6pt 0 6pt 0; font-size: 8pt; padding: 0 6pt;}
    p, li, dd { margin: 6pt 0; }
    blockquote { margin: 6pt; }

    h2 {font-size: 116%; margin-top: 1.5em; line-height: 1.2;}
    h3 {font-size: 105%; line-height: 1.26; margin-top: 1em;}

    h1, #table-of-contents { column-span: all; -webkit-column-span: 2; text-align: center; margin: 2em 0 2em;}

    .drawer { border: 1pt solid #2e3436; padding: 3pt; }
    .drawer h6, .drawer p { color: black; font-size: 9pt; display: inline; }

    #table-of-contents { background: transparent; }
    #table-of-contents li {margin: 0;}
    #table-of-contents a {text-decoration: none;}

    a {text-decoration: none; color: black;}
    /*a:after {content: " 鈱�" attr(href) "鈱�"; font-size: 90%; }*/
    a[href="mailto:me@pavpanchekha.com"]:after {content: " 鈱﹎e@pavpanchekha.com鈱�"}
    #table-of-contents a:after, a.no-printable-link:after,
    a.footref:after, a.footnum:after,
    .posts a:after, #postamble a:after {content: none;}

    #postamble p:after {
        content: " Originally published on 鈱﹉ttps://pavpanchekha.com鈱�";
    }

    #MathJax_Message, #taglist, svg button {display: none;}
}

/* SVG */
path { stroke: black; stroke-width: 2; fill: none; }
svg {margin: 1.5em auto; display: block;}
svg button {position: absolute; right: 0; bottom: 0;}
svg .plot {display: none; margin: 1em;}
svg .plot thead {font-size: 110%; color: #888a85;}
svg .plot em {font-variant: small-caps; font-style: normal;}
svg .plot th {padding-right: 1em; font-style: italic;}

.margin-note { font-size: 80%; }
.margin-note > p:first-child { display: inline; }
#footnotes { display: none; }

@media screen and (max-width: 650px) {
    .margin-note { display: block; margin: .5em; }
}

@media screen and (min-width: 650px) {
    body { max-width: 45em; }
    body > div { margin-right: 10em; }
    .margin-note {
        display: block; float: right; clear: right;
        margin: 0 -12.5em 1.5em 0; width: 11em;
        text-align: left;
    }
}

@media print {
    .margin-node { display: none !important; }
    #footnotes { display: block; }
}
